COMPOSE_PROJECT_NAME=lnmp
DATA_PATH_HOST=/your/project/

# nginx
NGINX_PROT=80
NGINX_CONF_PATH=./nginx/conf
NGINX_CONF_FILE_PATH=./nginx/default/nginx.conf
NGINX_LOG_PATH=./nginx/logs


# php7.4
PHP74_PROT=9000

# php8.0
PHP80_PROT=9001

# php8.1
PHP81_PROT=9002

# mysql5.7
MYSQL57_PROT=3306
MYSQL57_USER=root
MYSQL57_ROOT_PASSWORD=root
MYSQL57_DATA_PATH=./mysql57/data

# mysql8.0
MYSQL80_PROT=3307
MYSQL80_USER=root
MYSQL80_ROOT_PASSWORD=root
MYSQL80_DATA_PATH=./mysql80/data


# redis
REDIS_PORT=6379
REDIS_DATA_PATH=./redis/data